
    <div class="book-of-the-day">
      <div class="book-of-the-day-img">
        <img src="./images/book1.png" alt="image not found" />
      </div>
      <div class="book-of-the-day-about">

        <div>Book Name</div>
        <div>Read Count</div>
        <div>Author</div>


      </div>
      <div class="book-of-the-day-about">
        <div>: Brain-Inspired Computing</div>
        <div>: 500</div>
        <div>: Abhi Nahi pata</div>
      </div>
      <div class="book-of-the-day-discription">
        <div class="book-of-the-day-discription-title">Discription</div>
        <p>Brain-Inspired Computing is a cutting-edge field that seeks to design and develop computational systems modeled after the structure and functioning of the human brain. By leveraging insights from neuroscience, cognitive science, and artificial intelligence, researchers aim to create machines that can process information, learn, and make decisions in a manner similar to human cognition.</p>
      </div>
      <div class="book-of-the-day-button">
        <p>Click Here!</p>
        <button>Read This Book</button>
      </div>


    </div>