  <header>

      <div class="heading">
        <img src="./images/menu.png" alt="image not found" id="header-menu" />
        <h1>Dashboard</h1>
      </div>
      <div class="search">
        <img src="./images/search.png" alt="image not found" id="search-icon" />
        <input type="text" placeholder="Search Here" id="search-input" />
      </div>
      <div class="profile">
        <div class="user-greet">
          <h2>Hi!Muqaddas</h2>
        </div>
        <div class="user-profile-icon" id="profile-icon">
          <img src="./images/sunny.jpg" alt="img not found" id="profile-pic" />
          <div class="sidebar" id="sidebar-toggle" style="display: none;"></div>
        </div>
        <div class="profile-menu" id="toggle-profile-menu" style="display: none;"></div>
      </div>
    </header>

