    <div class="login-container" id="fortoggle">
            <form class="login-form" action="/Login" method="post">
                <div class="container-title">
                Login
            </div>
            <div class="form-input">
            <input type="text" name="Username" id="input-username" placeholder="Username/Email">            
            <input type="text" name="Password" id="input-pass" placeholder="Password">
            </div>
            <div class="login-button">
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>
<div class="login-footer">
    <a href="#">Forgot Your Password?</a>
</div>

 
  </form>       
  <div class="signup" id="signup-button">   <button type="submit"><p>Create new account</p></button></div> 
        </div>