<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/Authentication.css">
    <link rel="stylesheet" href="../stylesheets/partials/Login.css">
</head>
<body>
    

      <div class="discription">
       <h3>Readily</h3>
       
       <p>  your go-to digital library, offering a vast collection of e-books, articles, and resources at your fingertips. Whether you're looking to expand your knowledge, explore new topics, or dive into your favorite genres, Readily makes reading accessible anytime, anywhere. Join us on a journey of discovery and learning!"</p>
  
      </div>
<div id="toggle-div" style="height: 70%; width:30%;">
        <div class="login-container" id="fortoggle">
            <form class="login-form" action="/Login" method="post">
                <div class="container-title">
                Login
            </div>
            <div class="form-input">
            <input type="text" name="Username" id="input-username" placeholder="Username/Email">            
            <input type="text" name="Password" id="input-pass" placeholder="Password">
            </div>
            <div class="login-button">
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>
<div class="login-footer" >
    <a href="#">Forgot Your Password?</a>
</div>

 
  </form>       
  <div class="signup" id="signup-button">   <button type="submit" onclick="logintoggle()"><p>Create new account</p></button></div> 
        </div>
</div>
     

        <script src="../javascripts/Authentication.js"></script>
</body>
</html>

