<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../stylesheets/CommonLoginSignup.css">
    <link rel="stylesheet" href="../stylesheets/partials/Signup.css">
</head>
<body>
    

      <div class="discription">
       <h3>Readily</h3>
       
       <p>  your go-to digital library, offering a vast collection of e-books, articles, and resources at your fingertips. Whether you're looking to expand your knowledge, explore new topics, or dive into your favorite genres, Readily makes reading accessible anytime, anywhere. Join us on a journey of discovery and learning!"</p>
  
      </div>
      
     <%- include('./partials/SignupForm') %>

        <script src="../javascripts/Authentication.js"></script>
</body>
</html>

